.cp-rating-tag {
  position: absolute;
  top: 15px;
  left: 15px;
  background: white;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 0.75rem;
  font-family: "Poppins";
  display: flex;
  gap: 4px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
