/* src/components/BrandStory.css */

@font-face {
  font-family: "myMontserrat";
  src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "VanokhiSerif";
  src: url(/fonts/Carina.ttf);
}

/* 1. Define the Fragor Font */
@font-face {
  font-family: "Fragor";
  src: url("/fonts/Fragor-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myMontserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900; /* Supports all weights */
}

.brand-story-box {
  width: 100%;
  /* Using the signature red from your project */
  background: #9a0002;
  color: #faecd9;

  /* Providing substantial height as requested */
  /* padding: 60px 0; */
  min-height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* Matching the subtle border from your original code */
  border-top: 6px solid rgba(217, 197, 170, 0.12);
  border-bottom: 0.5px solid #ffffffc7;
  text-align: center;
}

.brand-story-inner {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
}

.typing-container {
  /* Using your website's main font */
  font-family: "myMontserrat", sans-serif;
  font-size: 2.8rem;
  /* font-weight: 600; */
  letter-spacing: 1.5px;
  line-height: 1.3;
  display: inline-block;
  width: 100%;
}

/* Style for the blinking cursor */
.typing-container .react-type-animation-cursor {
  color: #faecd9;
}

/* Mobile Adjustments */
@media (max-width: 768px) {
  .brand-story-box {
    padding: 0px 15px;
    min-height: 120px;
  }

  .typing-container {
    font-size: 1.6rem;
  }
}
