@font-face {
  font-family: "VanokhiSerif";
  src: url(/public/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

.nav-logo-link {
  text-decoration: none !important;
  color: inherit !important; /* Inherits the red/white you had */
  display: block;
}

.vanokhi-navbar {
  width: 100%;
  background-color: transparent;
  color: #9a0002;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  height: 76px;
  box-sizing: border-box;

  /* Smooth transition for hiding/showing */
  transition: transform 0.4s ease-in-out;
}

/* Hides the navbar by moving it up */
.vanokhi-navbar.nav-hidden {
  transform: translateY(-100%);
}

.nav-logo {
  font-family: "VanokhiSerif", serif !important;
  font-size: clamp(3.5rem, 8vw, 5rem);
  text-transform: uppercase;
  color: #7a0001;
  margin-top: 20px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0 !important;

  /* Smooth color transition */
  transition: color 0.3s ease;
}

/* Forces white color when the prop is active */
.vanokhi-navbar.nav-white .nav-logo {
  color: #ffffff !important;
}
