@font-face {
  font-family: "VanokhiSerif";
  src: url(/public/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

.nav-logo-link {
  text-decoration: none !important;
  color: inherit !important; /* Inherits the red/white you had */
  display: block;
}

.vanokhi-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  position: fixed;

  top: 0;
  left: 0;
  z-index: 9000 !important; /* Increased to stay above other elements */
  height: 76px;
  box-sizing: border-box;
  background-color: transparent; /* Keep it transparent by default */

  /* Smooth transition for both sliding and color changes */
  transition:
    transform 0.6s ease-in-out,
    background-color 0.3s ease;
}

.vanokhi-navbar.nav-hidden {
  transform: translateY(-100%) !important;
}

.nav-logo {
  font-family: "VanokhiSerif", serif !important;
  font-size: clamp(3.5rem, 8vw, 5rem);
  text-transform: uppercase;
  /* color: #faecd9; */
  margin-top: 20px;
  line-height: 1;
  font-weight: 500;
  transition: all 0.3s ease;
  letter-spacing: 0 !important;
}

.vanokhi-navbar.landing-nav .nav-logo {
  color: #faecd9;
}

/* Other Pages Color */
.vanokhi-navbar.other-nav .nav-logo {
  color: #9a0002;
}

.vanokhi-navbar.nav-white .nav-logo {
  color: #faecd9 !important;
}

/* .vanokhi-navbar.nav-red .nav-logo {
  color: #ff0000 !important;
} */
