@font-face {
  font-family: "VanokhiSerif";
  src: url(/public/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

.nav-logo-link {
  text-decoration: none !important;
  color: inherit !important; /* Inherits the red/white you had */
  display: block;
}

.vanokhi-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  position: fixed;

  top: 0;
  left: 0;
  z-index: 2000; /* Increased to stay above other elements */
  height: 76px;
  box-sizing: border-box;
  background-color: transparent; /* Keep it transparent by default */

  /* Smooth transition for both sliding and color changes */
  transition: transform 0.4s ease-in-out, background-color 0.3s ease;
}

.vanokhi-navbar.nav-hidden {
  transform: translateY(-100%) !important;
}

.nav-logo {
  font-family: "VanokhiSerif", serif !important;
  font-size: clamp(3.5rem, 8vw, 5rem);
  text-transform: uppercase;
  color: #7a0001; /* Default Red color */
  margin-top: 20px;
  line-height: 1;
  font-weight: 500;
  transition: color 0.3s ease;
  letter-spacing: 0 !important;
}

.vanokhi-navbar.nav-white .nav-logo {
  color: #ffffff !important;
}
