/* src/components/common/Skeleton.css */
.skeleton {
    background-color: #eee;
    background-image: linear-gradient(90deg,
            #eee 0px,
            #f5f5f5 50%,
            #eee 100%);
    background-size: 200px 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    display: inline-block;
    line-height: 1;
    width: 100%;
    animation: skeleton-loading 1.5s infinite ease-in-out;
}

@keyframes skeleton-loading {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: calc(200px + 100%) 0;
    }
}

/* Types */
.skeleton-text {
    height: 1em;
    margin-bottom: 0.5em;
    border-radius: 4px;
}

.skeleton-title {
    height: 2em;
    margin-bottom: 0.5em;
    border-radius: 4px;
}

.skeleton-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.skeleton-thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.skeleton-block {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}